<!DOCTYPE html>
<html>
	<head>
		<title>Airbnb</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		
	</head>
	<body>
	<!-- navbar=> bar above the header -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Airbnb</a>
			</div>
			<div class="collapse navbar-collapse" id="profile_image">
				<ul class="nav navbar-nav navbar-right">
					<!-- If currentUser is empty => no user is logged in -->
	<!-- currentUser is passed from the app.js to the index.ejs(etc) => still header has access to it -->
					<% if(!currentUser){ %>
						<li> <a href="/login">Login</a> </li>
						<li> <a href="/register">Sing Up</a> </li>
					<% }else{ %>
						<li> <a href="#"> Signed In As <%= currentUser.username %> </a> </li>
						<li> <a href="/logout">Logout</a> </li>

						<li> <a href="/users/<%= currentUser._id %>/edit"> Edit Profile <i class="fa fa-user" aria-hidden="true"></i> </a> </li>
						<li> <img src="<%= currentUser.picture %>" /> </li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<!-- if(error) checks if error is undefined or not (not just empty) -->
		<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
		<% } %>
		<% if(success && success.length > 0){ %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
		<% } %>
		<% if(warning && warning.length > 0){ %>
			<div class="alert alert-warning" role="alert">
				<%= warning %>
			</div>
		<% } %>
	</div>