<%- include("../partials/header") %>

<h1>
	Show page working!
</h1>

<%= console.log(apartement.place.bedrooms)%>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= apartement.main_image.url %>">
				<div class="caption-full">
					<h4 class="pull-right"> $<%= apartement.price_min %>/night </h4>
					<h4> <a> <%= apartement.name %> </a> </h4>
					<p>	<%= apartement.description %>	</p>
					<p>
						<em> Submitted By <%= apartement.host.username %> </em>
					</p>
				</div>
				
			</div>
	
			<h2 class="text-center">
				Informations about the place and the facilities: 
			</h2>
			
			<div class="thumbnail">
				
				<div align="center" class="alert alert-danger" role="alert">
  					<strong style="font-size:25px">Appartment's General Info</strong>
				</div>
				
				
				<h4 align="center"><li> <strong> Bedrooms: <%= apartement.place.bedrooms %> </strong><i class="fa fa-bed" aria-hidden="true"></i> </li></h4> 
				<h4 align="center"><li> <strong> Beds: <%= apartement.place.beds %> </strong><i class="glyphicon glyphicon-bed"></i></li></h4> 
				<h4 align="center"><li> <strong> Bathrooms: <%= apartement.place.bathrooms %> </strong><i class="fa fa-bath" aria-hidden="true"></i></li></h4> 
				<h4 align="center"><li> <strong> Room Type: <%= apartement.place.room_type %> </strong><i class="fa fa-home" aria-hidden="true"></i></li></h4> 

				<h4 align="center"><li> <strong> Living Room: <%= apartement.place.living_room %> </strong><i class="fa fa-television" aria-hidden="true"></i></li></h4> 
	
				<h4 align="center"><li> <strong> Area: <%= apartement.place.area %> </strong><i class="fa fa-area-chart" aria-hidden="true"></i>
</li></h4> 
				
				<h4 align="center"><li> <strong> Smoking: <%= apartement.renting_rules.smoking %></strong>
					
					<% if(apartement.renting_rules.smoking == "True" ){ %>
						
						<i class='fa fa-smoking'></i>
						
					<% } else { %>
							
						<i class='fas fa-smoking-ban'></i>
					
					<% } %>
					
					</li></h4> 			
					
			
				<h4 align="center"><li> <strong> Pets: <%= apartement.renting_rules.pets %> </strong><i class='fa fa-dog'></i> </li></h4> 
			
				<h4 align="center"><li> <strong> Events: <%= apartement.renting_rules.events %> </strong><i class='fas fa-running'></i></li></h4> 

				<h4 align="center"><li> <strong> Minimum Rent Days: <%= apartement.renting_rules.rent_days_min %> </strong><i class='far fa-calendar'></i>
</li></h4> 
				
				<div align="center" class="alert alert-info" role="alert">
  				<strong style="font-size:25px">Facilities</strong>
				</div>
				
				<h4 align="center"><li> <strong> WiFi: <%= apartement.facilities.wifi %> </strong><i class="fas fa-wifi"></i></li></h4> 
				
				<h4 align="center"><li> <strong> Air Conditioning: <%= apartement.facilities.air_conditioning %> </strong><i class='far fa-snowflake'></i>
</li></h4> 
				<h4 align="center"><li> <strong> Heating: <%= apartement.facilities.heating %> </strong><i class='fas fa-temperature-high'></i></li></h4>
				
				<h4 align="center"><li> <strong> Kitchen: <%= apartement.facilities.kitchen %> </strong><i class='fas fa-utensils'></i></li></h4> 
				
				
				<h4 align="center"><li> <strong> TV: <%= apartement.facilities.tv %> </strong><i class='fas fa-tv'></i></li></h4>
				
				<h4 align="center"><li> <strong> Parking: <%= apartement.facilities.parking %> </strong><i class="fa fa-car" aria-hidden="true"></i>
</li></h4> 
				
				<h4 align="center"><li> <strong> Elevator: <%= apartement.facilities.elevator %> </strong><i class='fas fa-tablet'></i></li></h4> 

				<div align="center" class="alert alert-success" role="alert">
  					<strong style="font-size:25px">Location of the Appartment</strong>
				</div>
				

				<h4 align="center"><li> <strong> Address: <%= apartement.location.address %> </strong><i class='fas fa-tablet'></i></li></h4> 
				<h4 align="center"><li> <strong> Neighbourhood: <%= apartement.location.neighbourhood %> </strong><i class='fas fa-tablet'></i></li></h4> 
				<h4 align="center"><li> <strong> Transportation: <%= apartement.location.transportation %> </strong><i class='fas fa-tablet'></i></li></h4> 
		
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>