<%- include("../partials/header") %>

<h1>
	Show page working!
</h1>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= apartment.main_image.url %>">
				<div class="caption-full">
					<h4 class="pull-right"> $<%= apartment.price_min %>/night </h4>
					<h4> <a> <%= apartment.name %> </a> </h4>
					<p>	<%= apartment.description %>	</p>
					<p>
						<em> Submitted By <%= apartment.host.username %> </em>
					</p>
				</div>
				
			</div>
	
			<h2 class="text-center">
				Informations about the place and the facilities: 
			</h2>
			
			<div class="thumbnail">
				
				<div align="center" class="alert alert-danger" role="alert">
  					<strong style="font-size:25px">Appartment's General Info</strong>
				</div>
				
				
				<h4 align="center"><li> <strong> Bedrooms: <%= apartment.place.bedrooms %> </strong><i class="fa fa-bed" aria-hidden="true"></i> </li></h4> 
				<h4 align="center"><li> <strong> Beds: <%= apartment.place.beds %> </strong><i class="glyphicon glyphicon-bed"></i></li></h4> 
				<h4 align="center"><li> <strong> Bathrooms: <%= apartment.place.bathrooms %> </strong><i class="fa fa-bath" aria-hidden="true"></i></li></h4> 
				<h4 align="center"><li> <strong> Room Type: <%= apartment.place.room_type %> </strong><i class="fa fa-home" aria-hidden="true"></i></li></h4> 

				<h4 align="center"><li> <strong> Living Room: <%= apartment.place.living_room %> </strong><i class="fa fa-television" aria-hidden="true"></i></li></h4> 
	
				<h4 align="center"><li> <strong> Area: <%= apartment.place.area %> </strong><i class="fa fa-area-chart" aria-hidden="true"></i>
</li></h4> 
				
				<h4 align="center"><li> <strong> Smoking: <%= apartment.renting_rules.smoking %></strong>
					
					<% if(apartment.renting_rules.smoking == "True" ){ %>
						
						<i class='fa fa-smoking'></i>
						
					<% } else { %>
							
						<i class='fas fa-smoking-ban'></i>
					
					<% } %>
					
					</li></h4> 			
					
			
				<h4 align="center"><li> <strong> Pets: <%= apartment.renting_rules.pets %> </strong><i class='fa fa-dog'></i> </li></h4> 
			
				<h4 align="center"><li> <strong> Events: <%= apartment.renting_rules.events %> </strong><i class='fas fa-running'></i></li></h4> 

				<h4 align="center"><li> <strong> Minimum Rent Days: <%= apartment.renting_rules.rent_days_min %> </strong><i class='far fa-calendar'></i>
</li></h4> 
				
				<div align="center" class="alert alert-info" role="alert">
  				<strong style="font-size:25px">Facilities</strong>
				</div>
				
				<h4 align="center"><li> <strong> WiFi: <%= apartment.facilities.wifi %> </strong><i class="fas fa-wifi"></i></li></h4> 
				
				<h4 align="center"><li> <strong> Air Conditioning: <%= apartment.facilities.air_conditioning %> </strong><i class='far fa-snowflake'></i>
</li></h4> 
				<h4 align="center"><li> <strong> Heating: <%= apartment.facilities.heating %> </strong><i class='fas fa-temperature-high'></i></li></h4>
				
				<h4 align="center"><li> <strong> Kitchen: <%= apartment.facilities.kitchen %> </strong><i class='fas fa-utensils'></i></li></h4> 
				
				
				<h4 align="center"><li> <strong> TV: <%= apartment.facilities.tv %> </strong><i class='fas fa-tv'></i></li></h4>
				
				<h4 align="center"><li> <strong> Parking: <%= apartment.facilities.parking %> </strong><i class="fa fa-car" aria-hidden="true"></i>
</li></h4> 
				
				<h4 align="center"><li> <strong> Elevator: <%= apartment.facilities.elevator %> </strong><i class='fas fa-tablet'></i></li></h4> 

				<div align="center" class="alert alert-success" role="alert">
  					<strong style="font-size:25px">Location of the Appartment</strong>
				</div>
				

				<h4 align="center"><li> <strong> Address: <%= apartment.location.address %> </strong><i class='fas fa-tablet'></i></li></h4> 
				<h4 align="center"><li> <strong> Neighbourhood: <%= apartment.location.neighbourhood %> </strong><i class='fas fa-tablet'></i></li></h4> 
				<h4 align="center"><li> <strong> Transportation: <%= apartment.location.transportation %> </strong><i class='fas fa-tablet'></i></li></h4> 

				<div id="mapid"></div>

				
			</div>
		</div>
	</div>
</div>

<script>
	
	
// 	var mymap = L.map('mapid').setView([51.505, -0.09], 13);
	
// 	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
//     attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
//     maxZoom: 18,
//     id: 'mapbox/streets-v11',
//     tileSize: 512,
//     zoomOffset: -1,
//     accessToken: 'pk.eyJ1IjoiZGZ3dGVpbm9zIiwiYSI6ImNrZWg1a2czYTA3Y3gzMG82NGlsdm5mZHUifQ.wSDWJpIrkAPwk5zeLoE93Q'
// }).addTo(mymap);

// 	var popup = L.popup();

// 	function onMapClick(e) {
//     	popup
//         .setLatLng(e.latlng)
//         .setContent("You clicked the map at " + e.latlng.toString())
//         .openOn(mymap);
// 	}

// 	mymap.on('click', onMapClick);
	
	var map = L.map('mapid').setView([37.97, 23.73], 10);

	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

	var searchControl = L.esri.Geocoding.geosearch().addTo(map);

	var results = L.layerGroup().addTo(map);

	<% console.log("gay1"); %>
	
	searchControl.on('results', function (data) {
		results.clearLayers();
		for (var i = data.results.length - 1; i >= 0; i--) {
			results.addLayer(L.marker(data.results[i].latlng));
		}
	 });
	
	<% console.log("gay2"); %>
	
	// map.on('click', onMapClick);

	
</script>

<%- include("../partials/footer") %>