<%- include("../partials/header") %>

<h1>
	Show page working!
</h1>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= apartment.main_image.url %>">
				<div class="caption-full">
					<h4 class="pull-right"> $<%= apartment.price_min %>/night </h4>
					<h4> <a> <%= apartment.name %> </a> </h4>
					<p>	<%= apartment.description %>	</p>
					<p>
						<em> Submitted By <%= apartment.host.username %> </em>
						<% if(currentUser && apartment.host._id.equals(currentUser._id)){ %>
						<a class="btn btn-xs btn-warning" href="/apartments/<%= apartment._id %>/edit"
					   		style="position: relative; left: 915px;">
							Edit
						</a>
						<a class="btn btn-xs btn-danger" style="position: relative; left: 920px;"
						   href="/apartments/<%= apartment._id %>?_method=DELETE" method="POST">
							Delete
						</a>
						<% } %>
					</p>
				</div>
			</div>
	
			<h2 class="text-center">
				Information about the place and the facilities: 
			</h2>
			
			<div class="thumbnail">
				
				<div align="center" class="alert alert-danger" role="alert">
  					<strong style="font-size:25px">General Info</strong>
				</div>				

				<h4 align="center"><li> <strong> Bedrooms: <%= apartment.place.bedrooms %> </strong><i class="fa fa-bed" aria-hidden="true"></i> </li></h4> 
				<h4 align="center"><li> <strong> Beds: <%= apartment.place.beds %> </strong><i class="glyphicon glyphicon-bed"></i></li></h4> 
				<h4 align="center"><li> <strong> Bathrooms: <%= apartment.place.bathrooms %> </strong><i class="fa fa-bath" aria-hidden="true"></i></li></h4> 
				<h4 align="center"><li> <strong> Room Type: <%= apartment.place.room_type %> </strong><i class="fa fa-home" aria-hidden="true"></i></li></h4> 

				<h4 align="center">
					<li> <strong> Living Room: 
						<% if(apartment.place.living_room == "False"){ %>
							No
						<% }else{ %>
							Yes
						<% } %>
						</strong>
						<i class="fa fa-television" aria-hidden="true"></i>
					</li> 

					<li> <strong> Area: <%= apartment.place.area %> </strong>
						<i class="fa fa-area-chart" aria-hidden="true"></i>
					</li>

					<% if(apartment.renting_rules.smoking == "False" ){ %>
						<li> <strong> Smoking: No </strong>
						<i class='fa fa-smoking-ban'></i>
					<% } else { %>
						<li> <strong> Smoking: Yes </strong>
						<i class='fas fa-smoking'></i>
					<% } %>
					</li> 			

					<li> <strong> Pets: 
						<% if(apartment.renting_rules.pets == "False"){ %>
							No
						<% }else{ %>
							Yes
						<% } %>
						</strong>
						<i class='fa fa-dog'></i>
					</li>

					<li> <strong> Events: 
						<% if(apartment.renting_rules.events == "False"){ %>
							No
						<% }else{ %>
							Yes
						<% } %>
						</strong>
						<i class='fas fa-running'></i>
					</li> 

					<li> <strong> Minimum Rent Days: 
						<% if(apartment.renting_rules.rent_days_min == "False"){ %>
							No
						<% }else{ %>
							Yes
						<% } %>
						</strong>
						<i class='far fa-calendar'></i>
					</li>
				</h4>

				<div align="center" class="alert alert-info" role="alert">
  				<strong style="font-size:25px">Facilities</strong>
				</div>

				<h4 align="center">
					<li> <strong> WiFi: 
						<% if(apartment.facilities.wifi == "False"){ %>
							No
						<% }else{ %>
							Yes
						<% } %>
						</strong>
						<i class="fas fa-wifi"></i>
					</li>

					<li> <strong> Air Conditioning: 
						<% if(apartment.facilities.air_conditioning == "False"){ %>
							No
						<%  }else{ %>
							Yes
						<% } %>
						</strong>
						<i class='far fa-snowflake'></i>
					</li>
					<li> <strong> Heating: 
						<% if(apartment.facilities.heating == "False"){ %>
							No
						<% }else{ %>
							Yes
						<% } %>
						</strong>
						<i class='fas fa-temperature-high'></i>
					</li>

					<li> <strong> Kitchen: 
						<% if(apartment.facilities.kitchen == "False"){ %>
							No
						<% }else{ %>
							Yes
						<% } %>
						</strong>
						<i class='fas fa-utensils'></i>
					</li>
				
					<li> <strong> TV: 
						<% if(apartment.facilities.tv == "False"){ %>
							No
						<% }else{ %>
							Yes
						<% } %>
						</strong>
						<i class='fas fa-tv'></i>
					</li>

					<li> <strong> Parking: 
						<% if(apartment.facilities.parking == "False"){ %>
							No
						<% }else{ %>
							Yes
						<% } %>
						</strong>
						<i class="fa fa-car" aria-hidden="true"></i>
					</li>

					<li> <strong> Elevator: 
						<% if(apartment.facilities.elevator == "False"){ %>
							No
						<% }else{ %>
							Yes
						<% } %>
						</strong>
						<i class='fas fa-tablet'></i>
					</li>
				</h4>

				<div align="center" class="alert alert-success" role="alert">
  					<strong style="font-size:25px">Location of the Appartment</strong>
				</div>

				<h4 align="center"><li> <strong> Address: <%= apartment.location.address %> </strong><i class='fas fa-tablet'></i></li></h4> 
				<h4 align="center"><li> <strong> Neighbourhood: <%= apartment.location.neighbourhood %> </strong><i class='fas fa-tablet'></i></li></h4> 
				<h4 align="center"><li> <strong> Transportation: <%= apartment.location.transportation %> </strong><i class='fas fa-tablet'></i></li></h4> 

				  <div id="map"></div>

				<div id="mapid"></div>

				
			</div>
		</div>
	</div>
</div>

<script>
	
	
// 	var mymap = L.map('mapid').setView([51.505, -0.09], 13);
	
// 	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
//     attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
//     maxZoom: 18,
//     id: 'mapbox/streets-v11',
//     tileSize: 512,
//     zoomOffset: -1,
//     accessToken: 'pk.eyJ1IjoiZGZ3dGVpbm9zIiwiYSI6ImNrZWg1a2czYTA3Y3gzMG82NGlsdm5mZHUifQ.wSDWJpIrkAPwk5zeLoE93Q'
// }).addTo(mymap);

// 	var popup = L.popup();

// 	function onMapClick(e) {
//     	popup
//         .setLatLng(e.latlng)
//         .setContent("You clicked the map at " + e.latlng.toString())
//         .openOn(mymap);
// 	}

// 	mymap.on('click', onMapClick);
	
	var map = L.map('mapid').setView([37.97, 23.73], 10);

	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

	var searchControl = L.esri.Geocoding.geosearch().addTo(map);

	var results = L.layerGroup().addTo(map);

	<% console.log("gay1"); %>
	
	searchControl.on('results', function (data) {
		results.clearLayers();
		for (var i = data.results.length - 1; i >= 0; i--) {
			results.addLayer(L.marker(data.results[i].latlng));
		}
	 });
	
	<% console.log("gay2"); %>
	
	// map.on('click', onMapClick);

	
</script>

<%- include("../partials/footer") %>