<%- include("../partials/header") %>

<!-- Will add spaces around the box -->
<div class="container">
	<!-- Pretty much like div ~> adds a background box -->
	<header class="jumbotron">
		<div class="container">
			<!-- <h2 style="text-align: center; margin-bottom: 5% ">This is <%= currentUser.username %>'s host page</h2>
			<p style="text-align: center">
				<a class ="btn btn-primary btn-lg"  href="/apartments/new" aria-pressed="true" style="font-size: 120%">Add a new Place</a>
			</p> -->

			<h2 style="text-align: center;">This is <%= currentUser.username %>'s host page</h2>
			<% if(currentUser.approved_by_admin == "approved"){ %>
				<p>
					<a class ="btn btn-primary btn-lg" href="/apartments/new" style="margin-left: 40%; margin-top:2%; font-size: 120% ">Add a new Place</a>
				</p>
			<% } %>
		</div>
	</header>

	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% apartments.forEach(function(apartment){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<!-- <img src="<%= apartment.main_image.url %>" style="object-fit:cover; width:250px; height:250px"> -->
					<a href="/apartments/<%= apartment._id %>">
						<img src="<%= apartment.main_image.url %>"
							 style="object-fit:cover; width:250px; height:250px">
					</a>
					<div class="caption">
						<!-- <h4> <%= apartment.name %> </h4> -->
						<strong><a href="/apartments/<%= apartment._id %>"
								style="font-size:170%; font-family:URW Chancery L, cursive; color:firebrick">
							<%= apartment.name %></a>
						</strong>
					</div>
					<!-- <p>
						<a href="/apartments/<%= apartment._id %>" class="btn btn-primary">More Info</a>
					</p> -->
				</div>
			</div>
		<% }) %>
	</div>

</div>



<%- include("../partials/footer") %>