<%- include("../partials/header") %>

<!-- Will add spaces around the box -->
<div class="container">
	<!-- Pretty much like div ~> adds a background box -->
	<header class="jumbotron">
		<div class="container">
			<h2 style="text-align: center;">This is <%= currentUser.username %>'s host page</h2>
			<p>
				<a class ="btn btn-primary btn-lg" href="/apartements/new">Add a new Place</a>
			</p>
		</div>
	</header>

	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% apartements.forEach(function(apartement){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= apartement.main_image %>">
					<div class="caption">
						<h4> <%= apartement.name %> </h4>
					</div>
					<p>
						<a href="/apartements/<%= apartement._id %>" class="btn btn-primary">More Info</a>
					</p>
				</div>
			</div>
		<% }) %>
	</div>

</div>








<%- include("../partials/footer") %>