<%- include("../../partials/header") %>

<h3>
	Conversation with <%= host.firstname %> <%= host.lastname %> about <%= apartment.name %>
</h3>
<% var str_host = JSON.stringify(host); %>
<a href="/messages/<%= currentUser._id %>/<%= apartment._id %>/new?recipient=<%=str_host%>">
	+ compose
</a>

<div class="container">
	<% if(conversation.length > 0){
		conversation.forEach(function(message){	%>
			from: <%= message.sender.email %><br>
			to: <%= message.recipient.email %><br>
			Subject: <%= message.subject %><br>
			Text: <%= message.content %><br>
			<form method="POST"
				action="/messages/<%=currentUser._id%>/<%=apartment._id%>/<%=message._id%>?_method=DELETE">
				<button class="btn btn-sm btn-danger">Delete</button>
			</form>
		<% });
	} %>
</div>



<%- include("../../partials/footer") %>